<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param>
    <param-name>uploadDirectory</param-name>
    <param-value>/home/dronchenko/Programming/UP/maven/src/main/webapp/resources/img</param-value>
  </context-param>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PostsServlet</servlet-name>
    <servlet-class>by.inst.PostsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PostsServlet</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>by.inst.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

</web-app>
